@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.Navbar {
	background-color: var(--navbar-color);
	z-index: 20;
}
@media (max-width: 550px) {
	.Navbar {
		padding-left: 0;
		padding-right: 0;
	}
}

.navbar-light .navbar-toggler-icon {
}
.navContent {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	width: 100%;
}
.navbar-collapse.collapse.show,
.navbar-collapse.collapsing {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.navbar-collapse.collapse.show .navContent,
.navbar-collapse.collapsing .navContent{
	width: 100%;
	padding: 1rem 1rem;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: var(--navbar-color);
}

#navRightContainer {
	width: fit-content;
	margin-right: 0;
}


#title {
	color: #ececec;
	font-family: "Work Sans", sans-serif;
}

@media (max-width: 550px) {
	#title {
		display: none;
	}
}


.topNavBarOption {
	font-size: large;
	
	font-weight: 300;
	color: #ececec;
}

#topNavBarOption {
	font-size: large;
	font-weight: 300;

	padding: 0 1rem;
	color: #ececec;
}

#topNavBarOption:hover {
	color: #f2a365;
}

#adminDashboardNavLinkContainer {
	border-left: 1px solid white;
}
