.postEntryContainer {
	border-radius: var(--border-radius);
	background-color: var(--background-color-light);
	margin-bottom: var(--post-list-spacing);
	padding: 25px;
	position: relative;
}

.tag {
	font-size: 1rem;
	font-weight: 300;
	color: #ececec;
	

}
.flex-spaced {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.text {
	font-size: large;
	color: #ececec;
	position: relative;
	padding-left: 60px;
}

.user {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.username {
	font-size: large;
	font-weight: 300;
	color: #ececec;
	position: relative;
	margin-left: 10px;
}

.avatar {
	margin-top: 2px;
	width: 50px;
	height: 50px;
	border-radius: 4px;
	position: relative;
	justify-self: start;
}

.img {
	padding-top: 15px;
	padding-left: 60px;
	max-width: 90%;
	max-height: 500px;
	min-width: 20%;
	min-height: 20%;
}

.noimg {
	width: 0px;
	height: 0px;
}

.likes {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.likeButton:focus {
	outline: none;
}

.likeIcon {
	color: #ececec;
}

.filledLikeIcon {
	color: #f2a365;
}

.likeNum {
	display: flex;
	flex-direction: column;
	color: #ececec;
	font-size: large;
	font-weight: bold;
	margin-right: 4%;
	margin-bottom: 11px;
	justify-content: flex-end;
}

.commentListItem {
	margin-top: 1%;
	background-color: var(--background-color-extra-light);
	border-radius: 4px;
	position: relative;
}

.commentuser {
	font-size: large;
	font-weight: 300;
	color: #ececec;
	position: relative;
}

.comment {
	font-size: medium;
	color: #ececec;
	position: relative;
}

.commentInput {
	margin-top: 1rem;
}

#postRemoveButton {
	top: 0px;
	position: absolute;
	margin-left: 89%;
}

#commentRemoveButton {
	top: 0px;
	position: absolute;
	margin-left: 92%;
}

#cancelIcon {
	font-size: 50px;
	/* background-color: #f2a365; */
	color: #f2a365;

	box-sizing: border-box;
	user-select: none;
	z-index: 2;
}

#cancelIcon:hover {
	cursor: pointer;
	opacity: 100%;
	color: #ececec;
}

#commentCancelIcon {
	font-size: 30px;
	/* background-color: #f2a365; */
	color: #f2a365;

	box-sizing: border-box;
	user-select: none;
	z-index: 2;
}

#commentCancelIcon:hover {
	cursor: pointer;
	opacity: 100%;
	color: #ececec;
}

.commentSection {
	max-height: 300px;
	overflow-y: auto;
}

.showCommentsSpan {
	font-size: 15px;
	color: white;
	transition: all .1s ease-in-out;
}

.showCommentsSpan:hover {
	cursor: pointer;
	color: #f2a365;
}