.smallProfileBar {
	margin-left: 2.5%;
	padding: 4px 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.58);
	margin-bottom: 10px;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	color: black;
}
.smallProfileBarLinkPartial {
	box-sizing: border-box;
	height: 100%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	display: flex;
}

.smallProfileBarLinkPartial:hover {
	cursor: pointer;
}

.nav-link {
	padding: 0px;
}
.smallProfileImg {
	margin: 5px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

.smallProfileInfo {
	padding-left: 0.5rem;
	margin-top: auto;
	margin-bottom: auto;
}

.smallProfileName {
	padding-top: 1px;
	margin: 0;
	font-size: large;
	color: black;
	font-weight: 400;
}

.smallProfileUsername {
	color: #647d88;
	margin: 0;
	font-size: medium;
}

.buttonContainer {
	height: 100%;
}

.followUnfollowContainer {
	width: fit-content;
	display: flex;
	align-items: center;
	margin-left: 1rem;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 0.8rem;
	box-sizing: border-box;
}

.followUnfollowSpan {
	transition: all 0.1s ease-in-out;
}

.followUnfollowSpan:hover {
	font-weight: 500;
	cursor: pointer;
}

.followUnfollowButton:focus {
	outline: none;
	box-shadow: none;
}

.smallProfileBarLinkFull {
	width: 100%;
	box-sizing: border-box;
	height: 100%;
	border-radius: 10px;
	float: left;
}

.smallProfileBarLinkFull:hover {
	cursor: pointer;
}


