#homeContainer {
	height: 93vh;
	overflow-y: hidden;
	scrollbar-width: none;
	display: flex;
	flex-direction: row;
}

::-webkit-scrollbar {
	display: none;
}

.friendListContainer {
	width: 20rem;
	position: relative;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	flex: 0 1 auto;
}

@media (max-width: 900px) {
	.friendListContainer {
		display: none;
	}
}

.postListContainer {
	overflow-y: scroll;
	margin-top: 10px;
	flex: 1 1 auto;
}
