#homeContainer {
	background-size: 100vh;
	overflow-y: hidden;
	scrollbar-width: none;
	display: flex;
	flex: 1;
	flex-direction: row;
}
.black-icon {
	fill: black;
}
.large-icon {
	width: 10rem;
	height: 10rem;
}
::-webkit-scrollbar {
	display: none;
}

.friendListContainer {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	align-items: center;
	width: 20rem;
	position: relative;
	float: left;
	padding: 0 1rem;
	flex: 0 1 auto;
}

@media (max-width: 900px) {
	.friendListContainer {
		display: none;
	}
}

.postListContainer {
	overflow-y: scroll;
	max-height: 90vh;
	margin-top: 10px;
	flex: 1 1 auto;
}
