:root {

	--background-color: #202936;
	--background-color-light: #253749;
	--orange: #f2a365;
	--navbar-color: #323c50;
}

body {
	margin: 0;
	background-color: var(--background-color);
}

button {
	outline: none;
}

.loadingScreenText {
	margin: 10px;
	color: var(--orange);
}


.container-column {
	display: flex;
	flex-direction: column;
}

.container-spaced {
	display: flex;
	justify-content: center;
	align-items: center;
}